version: '3.8'
services:
  backend:
    build:
      context: ./ml_backend
      dockerfile: Dockerfile
    ports:
      - '8001:8000'
    environment:
      - ML_API_KEY=${ML_API_KEY}
    restart: unless-stopped

  frontend:
    build:
      context: .
      dockerfile: Dockerfile.frontend
      args:
        VITE_API_URL: "http://backend:8000"
    ports:
      - '5000:5000'
    environment:
      - VITE_API_URL=http://localhost:8001
    restart: unless-stopped
